<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Css/Style.css">
    <title>Palomitas Loca</title>
</head>

  <!-- Columna izquierda -->
  <div class="cuadraditoss">
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
    <div class="cuadradito"></div>
  </div>
 
     
        
  <div class="contenedor">
    <h2>MOVIES</h2>
    <h2>SERIES</h2>

      <div class="popcorn">
    <img src="../Static/Img/Group 2 (1).png " alt="Caja de pochoclos">
  </div>

  
  <div class="camara">
    <img src="../Static/Img/Group 1.png" alt="Cámara de cine">
  </div>
</body>
</html>

<div class="corte">
    <img src="../Static/Img/Group 4.png" alt="corte" width="150px" height="170px">
  </div>
</body>
</html>
<div class="buttons">
 <button><a href=hacerreview.html> HACER REVIEW</a></button>
      <button> <a href=eliminarreview.html>ELIMINAR REVIEW</a></button>
    </div>