

body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

/* Columna izquierda como rollo de película */
.cuadraditoss {
  width: 90px;
  background: #ffffff;
  border-left: 8px solid #000000;
  border-right: 8px solid #000000;
  margin-left: 100px;
}

.cuadradito {
  width: 55px;
  height: 70px;
  margin: 35px auto;
  border: 2px solid #0b0b0b;
  border-radius: 6px;
}

/* Contenido central */
.contenedor {
  flex: 1;
  text-align: center;
  padding: 100px;
  font-size: 36px;
  
  
}

h2 {
  color: #ec2222;
  margin: 20px;
  display: inline-block;
}

.buttons {
  margin: 160px ;
}

.buttons button {
  border: 2px solid #b30000;
  color: #b30000;
  background: white;
  border-radius: 20px;
  padding: 15px 20px;
  margin:  40px;
  cursor: pointer;
  font-weight: bold;
}
 
.popcorn{
  position :absolute;
 bottom: 20px;
 right: 50px;
 width: 261px;
 

}


}
.camara{  

  position :absolute;
 bottom: 800px;
 right: 270px;
 width: 261px;



}
.corte{
  position :absolute;
 bottom: 710px;
 right: 100px;
 width: 261px;
}

</body>
</html>
body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 40px;
}



/* Contenedor de la barra */


/* Caja de texto */
.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; /* texto en mayúsculas */
}

/* Botón lupa */
.search-box button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Contenedor de la barra */
.search-box {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 25px;
  width: 350px;
  padding: 6px 12px;
  margin-top: 15px;
}
/* Botón ENTRAR */
.btn-entrar {
  background: none;          /* sin color de fondo */
  border: 2px solid #000;    /* borde negro */
  border-radius: 25px;       /* esquinas redondeadas */
  padding: 8px 25px;         /* espacio interno */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* animación suave */
}

.btn-entrar:hover {
  background: #000;   /* fondo negro al pasar el mouse */
  color: #fff;        /* texto blanco */
}
.usuario{
 left: 50px;


}
form{
    display:flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;
}

form label{
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
}

form input{
    padding: 15px;
}

.mensaje{
    height: 400px;
    width: 700px;
}
.texto2{
    text-align: justify;
    width: 10%;
    font-size: 1.2cm;
    margin-top: 160px;
    margin-right: 100px;
    
  
}